
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card shadow-lg">
               
                <div class="card-header bg-danger text-center border-0">
                    <h2 class="text-white">Hakkında</h2>
                </div>
                
                <div class="card-body text-center text-gray">
                    <p class="lead">
                        Bu proje, ASP.NET Core MVC kullanılarak geliştirilmiş modern bir kütüphane yönetim sistemidir.
                        Projede, kitapların ve yazarların bilgileri; listeleme, detaylandırma, ekleme, düzenleme ve silme
                        işlemleri için kapsamlı bir yapı ile sunulmaktadır.
                    </p>
                    <p>
                        Nesne yönelimli programlama prensipleri esas alınarak modüler, sürdürülebilir ve genişletilebilir
                        bir yapı oluşturulmuştur. Böylece, kodun bakımı ve geliştirilmesi daha kolay hale gelmiştir.
                    </p>
                </div>
               
                <div class="card-footer bg-white text-center">
                    <small class="text-muted">Patika + MVC 9.HAFTA PROJESİ</small>
                </div>
            </div>
        </div>
    </div>
</div>
