<div class="container my-5">
    <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
        <h1 class="text-body-emphasis">Bu Ay Önerilen Kitaplar</h1>
        <p class="col-lg-6 mx-auto mb-4">
            Bu ayın seçilen kitaplarını keşfedin.
        </p>

     
        <div class="row">
            <div class="col-12 col-md-4 mb-3">
                <div class="card h-100">
                    <img src="https://img.kitapyurdu.com/v1/getImage/fn:1109384/wh:true/wi:800" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Harry Potter ve Sırlar Odası</h5>
                        <p class="card-text">“Bir komplo var, Harry Potter. Bu yıl Hogwarts Cadılık ve Büyücülük Okulu’nda dehşet verici şeyler yapmak için bir komplo.”</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" class="btn btn-danger">Detayları Gör</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="card h-100">
                    <img src="https://img.kitapyurdu.com/v1/getImage/fn:11848478/wh:true/wi:500" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Farseer Üçlemesi Suikatsçının Çırağı</h5>
                        <p class="card-text">Altı Dükalıkta iyi eğitimli bir suikastçı olan Fitz Chivalry Farseer’ın hayatını anlatır. Amcası Prens Verity, krallığın kıyılarına saldıran ve Altı Dükalık halkını zombilere dönüştüren Outlslands’daki Kızıl Gemi Akıncılarına karşı savaş açmaya hazırlanır.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" class="btn btn-danger">Detayları Gör</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="card h-100">
                    <img src="https://img.kitapyurdu.com/v1/getImage/fn:11718457/wh:true/wi:256" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Yüzüklerin Efendisi </h5>
                        <p class="card-text">Dünya ikiye bölünmüştür, denir Tolkien'ın yapıtı söz konusu olduğunda: Yüzüklerin Efendisi'ni okumuş olanlar ve okuyacak olanlar. </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" class="btn btn-danger">Detayları Gör</a>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-danger px-5 mb-5" type="button">
            Diğer Kitapları Keşfet
        </button>
    </div>
</div>
