
<footer class="row py-5 my-5 border-top bg-light">
    <div class="col-12 col-md-4 mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="h4">Kütüphane Yönetim Sistemi</span>
        </a>
        <p class="text-muted">© 2025 Kütüphane Yönetim Sistemi. Week 9 MVC Projesi, Patika+ .</p>
    </div>

    <div class="col-12 col-md-4 mb-3">
        <h5 class="text-danger">Hızlı Linkler</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a asp-controller="Book" asp-action="List" class="nav-link p-0 text-body-secondary">Kitaplar</a></li>
            <li class="nav-item mb-2"><a asp-controller="Author" asp-action="List" class="nav-link p-0 text-body-secondary">Yazarlar</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Hakkında</a></li>
        </ul>
    </div>

    <div class="col-12 col-md-4 mb-3">
        <h5 class="text-danger">İletişim</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="mailto:info@kutuphane.com" class="nav-link p-0 text-body-secondary">Email: info@kutuphane.csom</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Facebook</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Twitter</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Instagram</a></li>
        </ul>
    </div>
</footer>
